import { handleActions } from "redux-actions";
import { <%= title %>Actions } from "../actions/<%= title %>.actions";

export interface I<%= title %>State {
    data: any,
    isLoading: boolean,
    error: boolean
}

export const initialState: I<%= title %>State = {
    data: null,
    isLoading: false,
    error: false
};

export default handleActions(
{

    // --------------- PENDING --------------------------
    [<%= title %>Actions.Get<%= title %>](state: any) {
        return {
                ...state,
                isLoading: true,
                error: false,
            };
        },


    // --------------- ERROR --------------------------
    [<%= title %>Actions.Get<%= title %>Error](state: any, { payload: { data } }: any) {
    return {
            ...state,
            error: true,
            isLoading: false,
        };
    },


    // --------------- SUCCESS --------------------------
    [<%= title %>Actions.Get<%= title %>Success](state: any, { payload: { data } }: any) {
        return {
            ...state,
            error: false,
            isLoading: false,
            data: data
        };
    },

    }, initialState
)